<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237532811042-rsg07mmcj0dhd4ngq8a1a3jhb4o9ssca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237532811042-rsg07mmcj0dhd4ngq8a1a3jhb4o9ssca</string>
	<key>API_KEY</key>
	<string>AIzaSyD6GodUO98XrD0n7pOxaTOQcnBWNjHLKLY</string>
	<key>GCM_SENDER_ID</key>
	<string>237532811042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.volleyfy.VolleyStats</string>
	<key>PROJECT_ID</key>
	<string>volleyfy</string>
	<key>STORAGE_BUCKET</key>
	<string>volleyfy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237532811042:ios:91f05656adbcdaa0511f7b</string>
	<key>DATABASE_URL</key>
	<string>https://volleyfy.firebaseio.com</string>
</dict>
</plist>